/* ARTICULO / INDEX / PRODUCTOS */

.articulo__{
    width: 100%;
}
.articulo__ h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 10px 0;
    animation: aparecer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    @keyframes aparecer{
        0%{
            opacity: 15%;
        }
        100%{
            opacity: 100%;
            color: rgb(2, 58, 2);
        }
    }
.articulo__div{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.11);
    margin: 10px 0;
}
.articulo__div img{
    width: 50%;
    height: 70vh;
    margin: 20px 0;
}
@media(max-width:379px){
    .articulo__div img{
        width: 100%;
    }
}
@media (min-width:380px) and (max-width:768px){
    .articulo__div img{
        width: 80%;
    }
}