/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* HEADER / MENU / NAV / LOGO*/

.logo{
    width: 130px;
    height: 80px;
    border-radius: 20%;
}