*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/*///////////////////////INDEX\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*header / menu / nav /index*/

header{
    background-color: rgb(45, 102, 36);
    height: 110px;
    width: 100%;
}
.header__menu{
    width: 100%;
}
.header__menu img{
    width: 150px;
    height: 80px;
    border: 3px solid;
    border-radius: 20%;

}
.header__menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.header__menu--logo{
    padding: 12px;
}
.header__menu--item{
    margin-left: 15px;
    line-height: 100px;
}
.header__menu a{
    text-decoration: none;
    color: rgb(233, 255, 233);
    font-size: 2rem;
}
.header__menu a:hover{
    color: rgb(146, 255, 164);
    transition-duration: 0.7s;
}
@media (max-width:379px){
    header{
        height: 90px;
    }
    .header__menu img{
        width: 90px;
        height: 60px;
    }
    .header__menu--item{
        line-height: 80px;
    }
    .header__menu a{
        font-size: 11px;
    }
    .header__menu--item{
        margin-left: 0px;
    }
    
}
@media (min-width:380px) and (max-width:479px){
    header{
        height: 90px;
    }
    .header__menu img{
        width: 90px;
        height: 60px;
    }
    .header__menu--item{
        line-height: 80px;
    }
    .header__menu a{
        font-size: 14px;
    }
    .header__menu--item{
        margin-left: 0px;
    }
}
@media (min-width:480px) and (max-width:768px){
    header{
        height: 90px;
    }
    .header__menu img{
        width: 90px;
        height: 60px;
    }
    .header__menu--item{
        line-height: 80px;
    }
    .header__menu a{
        font-size: 18px;
    }
    .header__menu--item{
        margin-left: 0px;
    }
}
/*aside / index / servicios /mq*/
aside{
    background-color: rgb(207, 252, 207);
}
.aside__div{
    display:flex;
    margin: 20px;
}
.aside__div--img{
    width: 50%;
}
.aside__div--img img{
    width: 100%;
}

.aside__div--servicios{
    width: 50%;
    padding: 0 10px;
    background-color: rgba(0, 255, 0, 0.137);
    color: rgb(0, 0, 0);
    font-family: 'Mochiy Pop P One', sans-serif;
}
.aside__div--servicios ul{
    list-style: none;
}
.aside__div--servicios h3{
    font-size: 27px;
    text-align: center;
    padding: 20px 0;
}
.aside__div--servicios li{
    margin: 0 5px;
    padding: 5px 0;
    font-size: 22px;
    
}
.aside__div--servicios li:hover{
    font-style: italic;
}
@media (min-width:0px) and (max-width:768px){
    aside{
        width: 100%;
    }
    .aside__div{
        display: inline-block;
    }
    .aside__div--img, .aside__div--servicios{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1023px){
    .aside__div--servicios h3{
        font-size: 20px;
    }
    .aside__div--servicios li{
       font-size: 1rem; 
    }
}
@media (min-width:1024px) and (max-width:1200px){
    .aside__div--servicios h3{
        font-size: 23px;
    }
    .aside__div--servicios li{
       font-size: 1.5rem; 
    }
}
@media (min-width:1201px) and (max-width:1400px){
    .aside__div--servicios h3{
        font-size: 28px;
    }
    .aside__div--servicios li{
       font-size: 2.2rem; 
    }
}
@media (min-width:1401px){
    .aside__div--servicios h3{
        font-size: 32px;
    }
    .aside__div--servicios li{
       font-size: 2.7rem; 
    }
}

/*articulo / index / productos*/
.articulo__{
    width: 100%;
}
.articulo__ h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 10px 0;
    animation: aparecer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    @keyframes aparecer{
        0%{
            opacity: 15%;
        }
        100%{
            opacity: 100%;
            color: rgb(2, 58, 2);
        }
    }
.articulo__div{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.11);
    margin: 10px 0;
}
.articulo__div img{
    width: 50%;
    height: 70vh;
    margin: 20px 0;
}
/*footer / index / redes sociales*/

.footer__div{
    display: flex;
    width: 100%;
    background-color: rgb(45, 102, 36);
    color: rgb(233, 255, 233);
}
.footer__div--enlaces{
    width: 33.3%;
}
.footer__div--enlaces h3, .footer__div--redes h3, .footer__div--condiciones h3{
    text-align: center;
}
.footer__div--enlaces ul{
    list-style: none;
    margin: 0 10px;
}
.footer__div--enlaces a{
    text-decoration: none;
    color: white;
}
.footer__div--enlaces a:hover{
    color: rgb(146, 255, 164);
    transition-duration: 0.3s;
}

.footer__div--redes{
    width: 33.3%;
}
.footer__div--redes ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.footer__div--redes i{
    font-size: 30px;
    margin: 10px ;
    padding: 15px 0;
}
.footer__div--redes i:hover{
    color: rgba(255, 255, 255, 0.993);
    transform: scale(1.2);
    transition: 0.5s;
}
.icon-ws{
    color: rgb(255, 255, 255);
}
.icon-fb{
    color: rgb(62, 62, 170);
}
.icon-tw{
    color: cornflowerblue;
}
.icon-ins{
    color: rosybrown;
}
.footer__div--condiciones{
    width: 33.3%;
    text-align: center;
}
.footer__condiciones--img{
    margin: 5px 0;
    width: 70%;
    height: 19vh;
}
@media(max-width:379px){
    .footer__div--redes h3{
        font-size: 1rem;
    }
    .footer__div--redes i{
        font-size: 25px;
    }
    .footer__div--enlaces{
        display: none;
    }
    .footer__div--redes{
        width: 100%;
    }
    .footer__div--condiciones{
        display: none;
    }
}
@media (min-width:380px) and (max-width:768px){
    .footer__div h3{
        font-size: 1rem;
    }
    .footer__div--redes i{
        font-size: 25px;
    }
    .footer__div--condiciones{
        display: none;
    }
    .footer__div--redes{
        width: 50%;
    }
    .footer__div--enlaces{
        width: 50%;
    }
}
@media (min-width:769px) and (max-width:1023){
    .footer__div h3{
        font-size: 1.5rem;
    }
    .footer__div--redes i{
        font-size: 26px;
    }
    .footer__div--enlaces a{
        font-size: 30px;
    }
}
@media (min-width:1024px) and (max-width:1200px){ 
    .footer__div h3{
        font-size: 2rem;
    }
    .footer__div--redes i{
        font-size: 30px;
    }
}
@media (min-width:1201px) and (max-width:2000px){ 
    .footer__div h3{
        font-size: 2.2rem;
    }
    .footer__div--redes i{
        font-size: 40px;
    }
    .footer__div--enlaces a{
        font-size: 31px;
    }
}
/*///////////////////////CONTACTO - GRID\\\\\\\\\\\\\\\\\\\\\\\\\*/

#grilla{
    display: grid;
    grid-template-areas: 
    "img form contacto"
    "img form contacto"
    "img form contacto";
    grid-template-columns: 25% 45% 30%;
    grid-template-rows: 1fr 1fr 1fr;
}
.border{
    border: 2px black solid;
}
.section__div--img{
    grid-area: img;
}
.section__div--img img{
    width: 100%;
    height: 100vh;
}
.section__div--form{
    grid-area: form;
}
.section__div--form div{
    margin: 20px 0;
}
.section__div--form input{
    margin-left: 2px;
    width: 98%;
    height: 8vh;
    font-size: 28px;
}
.section__div--form input::placeholder{
    font-size: 30px;
    color: rgb(73, 24, 24);
}
#mensaje{
    height: 18vh;
}
.section__form--button{
    display: flex;
}
.section__form--button button{
    background-color: black;
    color: white;
    width: 49%;
    height: 10vh;
    margin: 0 2px;
}
.section__form--button button:hover{
    background-color: green;
    transition: 0.3s;
}
.section__div--contacto{
    grid-area: contacto;
}
.section__div--contacto ul{
    list-style: none;
}
.section__div--contacto li{
    font-size: 16px;
    margin: 50px 0;
    overflow-wrap: break-word;
}

@media(max-width:379px){
    .section__div--img{
        display: none;
    }
    #grilla{
        grid-template-areas: 
        "form"
        "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media(min-width:380px) and (max-width:768px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "img form"
        "img form"
        "contacto contacto";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
    }

}
/*///////////////////////TIENDA - GRID\\\\\\\\\\\\\\\\\\\\\\\\\*/
#grilla__tienda{
    display: grid;
    padding: 30px;
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.grilla__tienda--img img{
    width: 100%;
    height: 50vh;
}
.grilla__tienda--img:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    border: green solid 2px;
}
.grilla__tienda--img:active{
    background-color: rgb(212, 255, 212);
}
@media(max-width:379px){
    #grilla__tienda{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9"
        "img10"
        "img11"
        "img12";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12,1fr);
    }
}
@media(min-width:380px) and (max-width:479px){
    #grilla__tienda{
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img12";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,1fr);
        padding: 20px;
    }
}
@media (min-width:480px) and (max-width:768px){
    #grilla__tienda{
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
        "img10 img11 img12";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    }
}
/*///////////////////////CLIENTES - BOOTSTRAP\\\\\\\\\\\\\\\\\\\\\\\\\*/
.clientes-carrousel{
    margin: 50px auto;
}
.main__button--carousel{
    background-color: green;
}
.section__clientes--card{
    display: flex;
}
.section__clientes--card .card{
    width: 100%;
    margin: 20px;
}
.section__clientes--card img{
    width: 100%;
    height: 50vh;
}
@media(max-width:575px){
    .section__clientes--card{
        display: inline-block;
    }
    .section__clientes--card div{
        width: 100%;
    }
}
@media (min-width:576px) and (max-width:768px){
    .section__clientes--card{
        display: block;
    }
    .section__clientes--card {
        width: 80%;
    }
}